<h1>#home</h1>
<h3>Welcome @codaisseurup!</h3>
<img src="https://goo.gl/F6SGlE" alt="Abrictosaurus" class="large" />
<p>This site is made with ♥.. <br> But also with.. !@$#%^*()_*(^^%$#@)</p>
<p>(Special thanks to all dinosaurs and valleys for all their support)</p>
